body {
  background-color: rgb(244, 248, 249);
  font-family: helvetica;
}

.main-tweet-container {
  width: 920px;
  height: 235px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin: 10px;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(225, 232, 237);
}

.profile-picture {
  float: left;
}

.tweet-author {
  width: 284px;
  height: 72px;
  padding-left: 25px;
  float: left;
  position: relative;
  top: 2px;
  left: 2px;
}

.user-name {
  font-size: 32px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  padding: 0px 4px;
  position: relative;
  top: -2px;
}

.user-account {
  font-size: 28px;
  color: rgb(104, 109, 129);
  position: relative;
  left: -9px;
}

.follow-button {
  width: 160px;
  height: 40px;
  border: 3px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(85, 172, 238);
  float: right;
  padding: 15px 10px 5px 10px;
}

.follow-logo {
  padding-left: 16px;
  padding-right: 8px;
}

.follow-text {
  font-size: 28px;
  font-weight: bold;
  color: rgb(85, 172, 238);
  position: relative;
  top: -5px;
}

.tweet-text {
  color: rgb(0, 0, 0);
  clear: both;
  font-size: 32px;
  margin: 105px 0px 20px 0px;
}

.tweet-time {
  font-size: 28px;
  color: rgb(101, 116, 127);
  position: relative;
  bottom: 7px;
}

.tweet-footer {
  font-size: 28px;
  color: rgb(105, 120, 130);
  margin-top: 20px;
}

.reply-icon {
  margin-right: 34px;
}

.favorite-icon {
  margin-left: 34px;
}
